$bg-color: #040403
$brand-color: #6200B3
$secondary-color: #15a0bb
$tetiary-color: #162521
$highlight-color: #59D2FE

.app
    min-height: 100vh

a
    transition: ease .6s
    &:hover
        color: $highlight-color
    
.container
    max-width: 1200px
    margin: 0 auto
    padding: 0 40px


.h-full
    height: 100%

.w-full
    width: 100%

.btns
    display: flex
    justify-content: center
    align-items: center
    gap: 20px
    

.form-gradient-bg
     background-image: linear-gradient(to left, #040403, #060604, #080806, #0a0a07, #0c0c08, #0f100d, #121311, #141614, #181b1a, #1b2020, #1f2626, #242b2d)

.home-gradient-bg
     background-image: linear-gradient(to left, #6200b3, #3844cc, #0065da, #0080df, #0097dd, #00a3df, #00aede, #29b9dd, #37bfe5, #43c5ed, #4eccf6, #59d2fe)
//* Mixins
@mixin spacing($prefix, $property)
    $sizes: [0, .25, .5, 1, 1.5, 2, 3, 4, 5]
    $spacing: 1rem

    @for $i from 1 through length($sizes)
        $size: nth($sizes, $i)

        .#{$prefix}-#{$i - 1}
            #{$property}: $spacing * $size

@mixin flex($flex-layout, $flex-direction)
    display: flex

    @if($flex-layout == "between" or $flex-layout == "evenly" and $flex-direction == "column")
        justify-content: space-#{$flex-layout}
        align-items: center
        flex-direction: $flex-direction
    @else if($flex-layout == "between" or $flex-layout == "evenly" and $flex-direction == "row")
        justify-content: center
        align-items: space-#{$flex-layout}
        flex-direction: $flex-direction
    @else
        justify-content: $flex-layout
        align-items: $flex-layout
        flex-direction: $flex-direction


//*Breakpoint mixins


$sizes: ("xs": 479px, "sm": 480px, "md": 720px, "lg": 960px, "xl": 1140px)

@mixin xs
    @media (max-width: map-get($sizes, "xs"))
        @content

@mixin sm
    @media (max-width: map-get($sizes, "sm"))
        @content

@mixin md
    @media (max-width: map-get($sizes, "md"))
        @content  

@mixin lg
    @media (max-width: map-get($sizes, "lg"))
        @content  

@mixin xl
    @media (max-width: map-get($sizes, "xl"))
        @content    