<div class="login">
  <form
    (ngSubmit)="register()"
    [formGroup]="registerForm"
    novalidate
    autocomplete="false"
    class="form-gradient-bg shadow"
  >
    <div class="text">
      <h1 class="logo">Enki.</h1>
    </div>
    <div class="inputs">
      <div class="names">
        <div class="input">
          <label for="fName">First Name</label>
          <input
            type="fName"
            placeholder="Enter your first name"
            formControlName="fName"
            name="fName"
            id="fName"
          />
        </div>
        <div class="input">
          <label for="lName">Last Name</label>
          <input
            type="lName"
            placeholder="Enter your last name"
            formControlName="lName"
            name="lName"
            id="lName"
          />
        </div>
      </div>
      <div class="input">
        <label for="email">Email</label>
        <input
          type="email"
          placeholder="Enter your email"
          formControlName="email"
          name="email"
          id="email"
        />
        <p *ngIf="displayMessages['email']" class="danger">
          {{ displayMessages["email"] }}
        </p>
      </div>
      <div class="input">
        <label for="password">Password</label>
        <input
          formControlName="password"
          type="password"
          name="password"
          id="password"
          placeholder="Enter your password"
          ngClass=" form-control"
        />
        <p *ngIf="displayMessages['password']" class="danger">
          {{ displayMessages["password"] }}
        </p>
      </div>
      <div class="input">
        <label for="confirm_password">Confirm Password</label>
        <input
          formControlName="confirmPassword"
          type="password"
          name="confirm_password"
          id="confirm_password"
          placeholder="Please confirm your password"
        />
        <p *ngIf="displayMessages['confirmPassword']" class="danger">
          {{ displayMessages["confirmPassword"] }}
        </p>
        <p
          *ngIf="registerForm.get('confirmPassword')?.hasError('not_matching')"
          class="danger"
        >
          The passwords don't match!
        </p>
      </div>
      <hr />
      <input
        class="btn primary"
        type="submit"
        value="Register"
        [disabled]="!registerForm.valid"
        [ngStyle]="{ opacity: registerForm.valid ? '1' : '0.2' }"
      />
    </div>
    <p>
      Already have an account?
      <a class="highlighted-link" href="/register">Login here.</a>
    </p>
    <app-spinner *ngIf="spinnerService.isLoading | async"></app-spinner>
  </form>
</div>
