<div class="side-nav">
  <div class="links">
    <a class="link">
      <fa-icon class="icon" [icon]="faDashboard"></fa-icon>
      <span class="text">Dashboard</span> </a
    ><a class="link">
      <fa-icon class="icon" [icon]="faCalendar"></fa-icon>
      <span class="text">Plans</span> </a
    ><a class="link">
      <fa-icon class="icon" [icon]="faPen"></fa-icon>
      <span class="text">Tasks</span> </a
    ><a class="link">
      <fa-icon class="icon" [icon]="faUser"></fa-icon>
      <span class="text">Profile</span>
    </a>
  </div>
</div>
